p{
    font-size: larger;
    text-transform: capitalize;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    margin-left: 10%;
   
}

.contact input,textarea{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    
}


.submit{
    text-align: center;
    margin: 20px;
 
}


.social{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}




.social span{
    font-size: 59px;
    margin: 15px;
    transition: 1s;
   
}
.face{
    color:rgb(173, 150, 17);
    background-color: black;
}
.twiter{
    color:rgb(173, 150, 17);
}
.insta{
    color:rgb(173, 150, 17);
}
.git{
    color:rgb(173, 150, 17);
}
.face:hover,.twiter:hover,.insta:hover,.git:hover{
    color: rgb(62, 53, 22);
   border-bottom: 6px rgb(175, 175, 9) solid;
}





